<header id="header" class="row-fluid" data-hook>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="#" data-hook><span class="img-responsive">HipsterDolly <%# logo %></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
        <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
        <%= form_tag spree.products_path, :method => :get do %>
          
          
          
            <%= select_tag :taxon,
                options_for_select([[Spree.t(:all_departments), '']] +
                                      @taxons.map {|t| [t.name, t.id]},
                                    @taxon ? @taxon.id : params[:taxon]) %>
          
        
          
          
                                    
          <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control" %>
          <%= submit_tag Spree.t(:search), :name => nil, class: "btn btn-default" %>
        <% end %>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
        <li data-hook><%= link_to_cart %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>